body {
  font-family: "Manrope", sans-serif;
  background-color: lightgray;
}

header {
  background-image: url(../assets/img/header_P7.png);
  background-size: 100%;
  background-position: center center;
  width: 100%;
  height: 667px;
}
header img {
  width: 207px;
  height: 25.26px;
  margin-top: 51px;
  margin-left: 69px;
}
header h1 {
  color: #ffd15b;
  text-align: center;
  font-family: "Anton", sans-serif;
  width: 730px;
  font-size: 2.8rem;
  margin-top: 10.2rem;
  margin-bottom: 1.7rem;
  line-height: 4rem;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* barre de recherche  */
.search-container {
  position: relative;
  width: 930px;
  height: 65px;
}

.search-input {
  padding: 10px 40px 10px 10px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 70%;
  border-radius: 10px;
  padding: 10px;
  background-color: #1b1b1b;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
}

.search-button i {
  font-size: 1.6rem;
}

/* Main style */
main {
  margin: 0 5rem;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.filter-container h3 {
  font-family: "anton";
}

#filters {
  display: flex;
  gap: 3rem;
}

#recipes-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.global {
  width: 380px;
  height: 731px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.global img {
  width: 100%;
  height: 253px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.global_cards {
  margin: 2rem;
}
.global_cards p {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  height: 92px;
  overflow-y: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
  justify-content: flex-start;
}
li {
  width: 145px;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

li span {
  color: gray;
  font-size: 0.85rem;
}

h2 {
  font-family: "Anton";
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
h4 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 800;
  color: grey;
}
.ingredients_list {
  display: flex;
  justify-content: center;
}

.timer_card {
  background-color: #ffd15b;
  width: 65px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 0.8rem;
}
